body {
  background: #f3f3f3;
}

input#grey {
  background: #f3f3f3;
}

.ui.popup{
  overflow: auto;
}

@media screen and (max-width: 767px) {
  #context {
    margin-top: 14em;
  }
}

@media screen and (min-width: 768px) {
  #context {
    margin-top: 3em;
  }
}

.gradient {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}

#gradient-1 {
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#gradient-2 {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f9b0f, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f9b0f, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#gradient-3 {
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#gradient-4 {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#gradient-4 {
  background: #2196f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#gradient-5 {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}